body {
  margin: 0;
  background: #333;
  font-family: sans-serif;
}

.c2017, .c2016 {
  padding: 4vh 10vw 10vh 10vw;
}

.c2016 {
  background: #444;
}

.logo-main {
  text-align: center;
  float: left;
  width: 35vw;
}

.logo-main img {
  max-height: 15vh;
  max-width: 30vw;
}

h1, h2 {
  color: #bbb;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  width: 35vw;
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 2vh;
}

.clearfix {
  float: none; clear: both;
  padding-top: 2vh;
}

.gallery {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
.gallery div a,
.gallery div a:hover {
  text-decoration: none;
}

.c2017 .gallery div img {
  width: 18vw;
  height: 12vw;
}

.c2016 .gallery div img {
  width: 15vw;
  height: 10vw;
}

div.buttons,
div.centinet {
  display: block;
  position: fixed;
  top: 10px;
  width: auto;
  z-index: 999999999;
}
div.buttons{
  left: 10px;
}
div.centinet{
  right: 10px;
}
div.buttons a,
div.buttons a:hover {
  font-family: monospace;
  font-size: 30px;
   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  font-weight: 900;
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  .gallery div { margin: 0; }
  .gallery { padding: 0; }

}

/*

body {
  margin: 0;
  background: #333;
  font-family: sans-serif;
}

.c2017, .c2016 {
  padding: 5vw 5vh;
}

.c2016 {
  background: #444;
}

.logo-main {
  text-align: center;
  width: 35vw;
  float: left;
  padding-top: 3vh;
}
.logo-main img {
  width: 20vw;
}

h1, h2 {
  color: #bbb;
  font-size: 80px;
  text-align: center;
  text-decoration: underline;
  width: 35vw;
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 3vh;
}

.clearfix {
  float: none; clear: both;
  padding-top: 3vh;
}


div.buttons,
div.centinet {
  display: block;
  position: fixed;
  top: 10px;
  width: auto;
  z-index: 999999999;
}
div.buttons{
  left: 10px;
}
div.centinet{
  right: 10px;
}
div.buttons a,
div.buttons a:hover {
  font-family: monospace;
  font-size: 30px;
   color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  font-weight: 900;
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  .gallery div { margin: 0; }
  .gallery { padding: 0; }
}

*/
